<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>
      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body>
  <div class="container">
    
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <h1>Teste seu Anagrama</h1>
    
    <div class="field">
      <label for="word1">Palavra 1</label><br>
      <%= f.text_field :word1 %>
    </div>
    
    <div class="field">
      <label for="word2">Palavra 2</label><br>
      <%= f.text_field :word2 %>
    </div>

<!--     <div class="actions">
      <%= f.submit value="Verificar" %>
    </div><br> -->
    
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
    Verificar <i class="icon-repeat"></i>
    <% end %>
    
    <button type="button" class="btn btn-default"><%= link_to 'Back', words_path %></button>
<!--     <h2><%= link_to 'Back', words_path %></h2> -->
   </div>
    </div>
    </div>
</body>
<% end %>
