<div class="row">
  <div class="col-md-6 col-md-offset-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Word1:</strong>
  <%= @word.word1 %>
</p>

<p>
  <strong>Word2:</strong>
  <%= @word.word2 %>
</p>

<p>
  <strong>Anagrama:</strong>
  <%= @word.anagrama %>
</p>

  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_word_path(@word) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', words_path %></button>
    
    </div>
  </div>
